[2019-09-18 00:03] gena opened #2 "Add EE image as a XYZ tile layer to QIGS"

[2019-09-18 00:03] gena opened #3 "Integrate a GEE assets catalog (panel?)"

[2019-09-18 00:03] gena opened #4 "Map.addLayer using Python in QGIS"

[2019-09-18 00:03] gena opened #5 "Asset ingestion via QGIS"

[2019-09-18 00:21] gena opened #6 "Scrap EE Data Catalog items"
1. WMTS proxy (you need to run it as your own appengine app):
https://github.com/google/earthengine-api/tree/master/demos/wmts
(it's a part of our open source Python client)

2. Catalog is exported in the STAC format to gs://earthengine-stac/catalog
Browsable as https://console.cloud.google.com/storage/browser/earthengine-stac/catalog

[2019-09-18 00:21] gena commented on #6
[code]

[2019-09-18 01:08] gena opened #7 "Refresh mapid + token for EE XYZ tile layers after load"

[2019-09-18 01:16] gena commented on #7
[code]

[2019-09-18 12:43] fitoprincipe commented on #4
Hi @gena, how is it going? although I have a lot going on in my actual job, I've been doing this (bringing EE into QGIS) myself, so I feel I could contribute, and I really would like to (although I don't really have much time).

I am not sure if you have seen [ipygee](https://github.com/fitoprincipe/ipygee), but in that package I have worked on a `Map` class that inherits from `ipyleaflet.Map`. Wh

[2019-09-18 12:45] fitoprincipe commented on #4
I guess this year you will work on this in the GEE User Summit Hackathon.. but I won't be there :disappointed: but I am happy to contribute from here :smile:

[2019-09-18 23:34] gena opened #10 "Implement Map.addLayer()"

[2019-09-19 17:15] fitoprincipe commented on #4
correction, I suppose you ARE in the hackathon right now =) I just realized... Great!

[2019-09-23 07:10] gena commented on #4
Indeed, this issue was opened during a hackathon. I did not tag the sourcecode but the functionality required for Map.addLauer is implemented already.

[2019-09-23 07:10] #4 closed

[2019-09-23 07:11] #7 closed

[2019-09-23 07:12] #2 closed

[2019-09-23 07:12] #10 closed

[2019-09-23 19:05] XavierCLL opened #15 "Embed GEE Python library"

[2019-11-10 01:14] XavierCLL commented on #6
not necessary at this time see #18

[2019-11-10 01:14] #6 closed

[2019-11-10 01:15] XavierCLL commented on #3
implemented in a different way in #18

[2019-11-10 01:15] #3 closed

[2019-11-10 20:44] gena commented on #15
This probably should use the following as a skeleton https://github.com/volaya/qgis-plugincreator-plugin/, and tested on Linux, Windows, MaxOS aftewards to make sure that everything runs fine.

[2019-11-10 20:50] gena opened #19 "Upload to QGIS plugin central"

[2019-11-10 20:51] gena opened #20 "Add authentication for plugin"
Currently, the plugin expects the user to be authenticated using python EE library, it would be better to add check if the user needs to be authenticated once the plugin is installed. Maybe it makes sense to support some functionality even without requiring to login (e.g. use a service account to run some read-only operations).

[2019-11-11 01:03] XavierCLL commented on #15
Implemented in 215ac7144583723a112b6f664ce5a6ea159edeff, this automatically install (if needed) and load all EE dependencies in the user space

[2019-11-11 02:37] XavierCLL opened #21 "Enable GitHub Pages"
Hi Gena, I don't have access in the settings, please could you enable the GitHub Pages in settings -> options and enable /docs folder similar to this:

![image](https://user-images.githubusercontent.com/11801453/68556907-f2431500-03e8-11ea-870c-b81e82800bc9.png)

[2019-11-11 06:34] #20 closed

[2019-11-11 23:20] gena commented on #15
This does not seem to be robust enough, maybe it makes sense to implement installation and authentication in a branch to keep master stable, in order to test on all platforms and fix all bugs, this will may need some time for testing

![image](https://user-images.githubusercontent.com/169821/68628826-0880cc00-04e2-11ea-97ca-de5c0e1673fd.png)

[2019-11-11 23:21] gena commented on #15
![image](https://user-images.githubusercontent.com/169821/68628945-61506480-04e2-11ea-8d04-4897f5094627.png)

[2019-11-11 23:23] gena commented on #15
This does not seem to be stable, especially because it has to be tested on all platforms. Maybe it makes sense to implement installation + authentication in a branch first, make sure it works everywhere, to keep the master stable.

[2019-11-11 23:29] gena commented on #15
... let me try to fix it on Windows ...

[2019-11-12 01:21] XavierCLL commented on #15
It should be multiplatform, it could be specific of pyCrypto, I will check it too. And yes you are right about managing the development in branches (for the next features) but I think right now the plugin, in general, is in beta stage, that is a very good idea after first stable version, I did it in the main branch with the idea of push development.

[2019-11-23 08:44] gena commented on #15
Migrated everything to use paver instead of on-the-fly installation (too shaky). The final plugin zip file is ~13Mb, supporting Windows, Linux, and MacOS.

[2019-11-23 10:48] hcwinsemius commented on #5
We need to think how we want this, I see 2 options:
1. make a current layer (start maybe with Image of FeatureCollection) an ee asset by ingestion as done in code editor. Benefit: everything should work as in ee, downside, on-the-fly conversion of local layers not possible.
2. Convert the vector or raster into an Image/FeatureCollection on-the-fly by using ee.Geometry and/or Array to Image functio

[2019-11-23 10:50] hcwinsemius opened #26 "Export result to GeoTIFF / Vector within QGIS"
This would be an ideal functionality, but may require significant efforts to make but I see it as high priority

[2019-11-23 18:28] XavierCLL commented on #15
Hi Gena, we have lithe problem with this implementation, as it is currently is only compatible with 64bits system, or we generate the 32bits libraries too or we restricted to 64bits putting a note in the documentation.

[2019-11-23 18:31] gena commented on #15
I'd limit it to 64bit for now, how many 32bit are out there? Otherwise, it's always possible to release a 32bit version and name it correspondingly in the plugins

[2019-11-23 18:33] gena commented on #26
See the Roadmap on the front page I've quickly prepared, just random thoughts. But I agree that this will be a very useful feature. Maybe as a processing algorithm.

[2019-11-23 18:34] XavierCLL commented on #15
Yes I know, there are very few users of 32bits but it is good to clarify it

[2019-11-23 18:37] XavierCLL commented on #15
I will test other possible issues with respect to compatibility across python versions, such as 3.6, 3.7 and 3.8. I don't sure but I will test it.

[2019-11-23 18:38] gena commented on #15
I will mention this in the plugin description and/or release.

[2019-11-23 19:21] XavierCLL commented on #21
Hi Gena, If you want to give me the admin access to the repository to config and show you the idea of github pages to host the doc

[2019-11-23 20:12] gena commented on #21
I've worked with GitHub pages a bit. Just published GitHub pages, it's a bit long URL https://gee-community.github.io/qgis-earthengine-plugin/, but should be fine for a redirect from the QGIS plugin docs. I've created the main repository as well for gee-community.github.io

[2019-11-23 20:12] #21 closed

[2019-11-24 02:40] XavierCLL commented on #15
I have tested using differents python versions (3.7 and 3.8 in Linux) and the plugin works fine, I discover that when I use different python respect to the embed library in the plugin it shows several errors about the file_cache, after research about it, that messages really are warnings and those messages do not affect the plugin, I fixed it in f3974375e2c71c9c9bfba6fde356014a07e0b704

[2019-11-24 02:40] #15 closed

[2019-12-01 21:01] XavierCLL opened #27 "Upload to repo as gee-community"
https://github.com/gee-community/qgis-earthengine-plugin/blob/cead21ccc10ba2aafe894f3cf5d1158dac2c1664/ee_plugin/metadata.txt#L14

What do you think if we create a generic user of gee-community? and upload it as gee-community

[2019-12-01 21:17] gena commented on #27
I'd keep it like this, at least for now, it's good to have someone as a real contact person as well to keep this development progressing.

We should add contributors section, e.g. like https://github.com/vuejs/vue#contribution.

[2019-12-01 21:17] #27 closed

[2019-12-01 21:18] gena commented on #19
Uploaded, pending approval ...

[2019-12-01 21:21] gena opened #28 "Add CI"
Not sure how this kind of QGIS plugins can be tested automatically, but it would be good to enforce TDD for this plugin development, e.g. TravisCI or other.

[2019-12-01 21:37] XavierCLL commented on #27
Ok good!

[2019-12-02 07:40] pcav opened #29 "Please improve directory structure"
Probably better move files out of the plugin subdir. See other plugins as an example.

[2019-12-02 07:42] pcav opened #30 "Please confirm licence"
Please confirm that the plugin do not infringe Google licences.
Thanks.

[2019-12-02 07:58] gena commented on #30
The plugin itself is released as MIT and is based on the Google Earth Engine API: https://github.com/google/earthengine-api, which is also released under Apache 2.0, they are compatible, so no issues are expected. Just to be sure, @tylere may I ask to comment on this, does the source code look ok in terms of the license infringement?

[2019-12-02 08:10] gena commented on #29
Which files, you mean dependencies? They feel indeed a bit weird indeed. I was advised to use a plugin template developed by @volaya, which is based on Paver, e.g. https://github.com/planetfederal/qgis-tester-plugin. As far as I understood, it embeds all dependencies as a part of the plugin using ```paver package```.
If there is a better example of a (multi-platform) plugin with multiple Python de

[2019-12-02 08:20] pcav commented on #29
I meant https://github.com/gee-community/qgis-earthengine-plugin/tree/master/ee_plugin
Which dependencies are you referring to? We strongly advise against including libraries in the plugin.

[2019-12-02 08:41] gena commented on #29
Ah, yes, you mean like in https://github.com/pcav/GeodesicDensifier3 where ```__init__.py``` is at the main level? In my case, the https://github.com/gee-community/qgis-earthengine-plugin/tree/master/ee_plugin is the actual plugin directory deployed under QGIS. Probably that is what causes confusion. I've moved it into a separate directory because to keep things clean, the rest does not have to be

[2019-12-02 09:11] pcav commented on #29
What are the files that should not go into the plugin?

[2019-12-02 09:47] gena commented on #29
I've reorganized the structure by moving everything to the top-level as suggested, do you have any further suggestions? This is my first QGIS plugin.

[2019-12-02 10:20] pcav commented on #29
Looks good to me.
Thanks.

[2019-12-02 10:20] #29 closed

[2019-12-02 14:32] tylere commented on #30
The Apache 2.0 and MIT licenses are both permissive licenses, so I don't see any licensing issues related to installing and using them together.

[2019-12-02 15:28] pcav commented on #30
Thanks

[2019-12-02 15:28] #30 closed

[2019-12-03 00:04] PedroVenancio opened #33 "Python error in first run (bug in Map.setCenter)"
Dear @gena,

Thank you very much for this really great and usefull QGIS plugin!

I'm testing it in QGIS 3.10.0 on Windows 10, and in the first run of the code I always get an error.

For instance, using the landsat_median.py example:
[code]

I get:
[code]
and the layer is not loaded.

After this error show up in Python console, if I just center the map again with

`Map.setCenter(-122.3578, 37.7726

[2019-12-03 01:53] XavierCLL commented on #33
Hi @PedroVenancio, Are you sure that you are using Qgis v2.10? the log shows that you are using Qgis v3. Because the plugin works only in Qgis v3 due that we implemented the external libraries (inside the plugin) in python 3

[2019-12-03 02:00] XavierCLL commented on #33
I think that this is an EE authenticate "cache" error please close all Qgis instances and try again running  the same test

[2019-12-03 07:15] PedroVenancio commented on #33
Hi @XavierCLL,
It was a typo, sorry, I'm using QGIS 3.10.0.

[2019-12-03 07:57] XavierCLL commented on #33
Yes, I thought so, please check if this error is reproducible after restart Qgis

[2019-12-03 09:58] PedroVenancio commented on #33
Hi @XavierCLL ,

Yes, this occurs after restart QGIS and even after cleaning the cache (Settings -> Options -> Network -> Cache settings). By the way, this only happens after QGIS restart, in the first Map.addLayer I do. After this first request, everything works as expected.

Checking the network request logs I get a time out:
`2019-12-03T09:32:44     WARNING    Network request https://earthengin

[2019-12-03 10:29] gena commented on #33
Might be some network issue. Does the usual earthengine requests via Python API work? E.g. try running a simple Python script from a command-line using ```https://github.com/google/earthengine-api/tree/master/python``` and see if that works.

[2019-12-03 10:33] gena commented on #33
Also, please type in the browser http://qgis-ee-plugin.appspot.com/get_latest_version, it should return 0.0.1 (current stable release version), the plugin uses this to checks for an update on the first run. If there is a timeout - probably some network/firewall issue.

[2019-12-03 10:39] PedroVenancio commented on #33
I think I've found something that can be leading to the request time out.

QGIS has EPSG:4326 as defaut coordinate reference system, and 1:37317863 as default scale.

So, going thru the script
[code]
everything works as expected until this point.

`Map.setCenter(35.2, 31, 13)`
changes the default scale to 1:144448.

`Map.addLayer(image, {}, 'Sentinel-2 images January, 2018')`
changes again the sca

[2019-12-03 10:44] gena commented on #33
I've noticed that during the first run Map.setCenter does not work correctly - will be addressed, thanks for reporting!!

[2019-12-03 10:45] PedroVenancio commented on #33
Hi @gena

No, everything fine in that field
![imagem](https://user-images.githubusercontent.com/1331581/70044269-f6162180-15b9-11ea-99eb-41f3ece57ef8.png)

[2019-12-03 10:48] PedroVenancio commented on #33
Great, I'm glad that can help in some way!

I think that is _Map.addLayer_ that is changing the _Map.setCenter_ in the first run.

Thank you very much!!

[2019-12-03 19:02] rauledop1 opened #34 "Authentification"
Hi,

I found this qgis plugin in the new plugin section and I think that is a powerfull tool.
I try to start this plugin with the "Hello word" examplo and I'cant run google earth engine app, always open authentification tab and show me a sign in code but don´t start this simple hello word example.

![image](https://user-images.githubusercontent.com/45100369/70080623-a77e7c80-15e5-11ea-8f70-3ebdaad

[2019-12-03 19:32] XavierCLL commented on #34
Hi @rauledop1, thanks for the report, could you paste the whole error? witch Windows version are you using? 64bits?

[2019-12-03 20:30] rauledop1 commented on #34
Yes I Used windows 64 bits, this is the complete report

![image](https://user-images.githubusercontent.com/45100369/70086736-b9661c80-15f1-11ea-97dd-8f3c7f081d0d.png)

I try run this app through work network, when I'm connect from my personal network this app run fine.

there is any way to run this app from my work network

[2019-12-03 22:23] gena commented on #34
Can you access Earth Engine via your work network? Like https://code.earthengine.google.com/ and from Python? E.g. try running in a command prompt: ```earthengine task list```.

[2019-12-04 09:36] PedroVenancio commented on #34
This seems a certificate error.

Can you try to install curl-ca-bundle package from OSGeo4W, as stated here

https://github.com/qgis/QGIS/issues/27159#issuecomment-555615692

and see if it solves the issue?

[2019-12-05 02:53] dongjief opened #35 "qgis-earthengine-plugin cannot be use"
Hi, I just met the problem, and the qgis-earthengine-plugin cannot be use.
When the plugin had been installed, the problem appeared.
My OS and QGIS version are Windows 10,  QGIS 3.10 'A Coruña'.

I thought that it may be caused by different directory definition (/ or \), but when I change to the Mac, the same problem still appear.

The detailed information is showed as bellow.
--------------------

[2019-12-05 08:13] gena commented on #35
Could be some firewall issue, can you try:
1) install ee python api separately from qgis by running ```conda install earthengine-api``` and then run ```earthengine authenticate``` and follow instructions, if that works then restart QGIS
2) open tinyurl.com in a browser, this is used to shorten the auth url during plugin setup.

[2019-12-05 08:45] GokulGeo commented on #35
Earth engine plugin works in 3.8 will it work in 3.10?

[2019-12-05 11:50] gena commented on #35
@GokulGeo - it should, it was tested with 3.8 and 3.10.

[2019-12-06 05:28] GokulGeo commented on #35
It is working fine in 3.10. I am totally a beginner in python, I hope there will be sample exercises in the future to explore in qgis.

[2019-12-06 13:39] Antoviscomi opened #36 "EE_Plugin doesn't starts from QGIS 3.10"
Hi all,
I noticed that EE plugin don't starts by QGIS 3.10

Versione di QGIS 3.10.0-A Coruña build QGIS 5a8dfa62fe running on Windows 7.
at QGIS startup the token appear but when I past authorization code It come out with the following error message
I Tried to run earthengine by conda and It run succesfully

Impossibile caricare il plugin 'ee_plugin' a causa di un errore chiamando il metodo classF

[2019-12-10 02:31] zgcao commented on #34
It works very well in my Mac desktop. Form your command, it feels like a network problem. Did you use the VPN to access the google service?

[2019-12-10 02:46] zgcao commented on #34
It works very well in my Mac desktop. Form your command, it feels like a network problem. Did you use the VPN to access the google service?

[2019-12-11 17:12] SiggyF opened #38 "Also implement ee_plugin.contrib.Map as a folium map"
Then we can copy code between  qgis and notebooks for faster prototyping.

[2019-12-12 00:16] fitoprincipe commented on #38
Hi developers,

I've code some stuff that can be useful in this and other milestones: https://github.com/fitoprincipe/ipygee. Unfortunately I don't have much time to contribute, but I'd really like to if I had some time. =)

[2019-12-12 03:18] SiggyF commented on #38
Thanks I'll have a look.

[2019-12-16 15:01] aguil77 commented on #35
Hi everyone, I have a similar problem, I thought it was a problem of SSL Certificates but they are already up to date and I cannot operate the plugin, the message is as follows:

Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method

ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate cha

[2019-12-17 14:38] PyDG commented on #36
I run into the same problem with QGIS 3.10::

"Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method
google.auth.exceptions.RefreshError: ('invalid_grant: Bad Request', '{\n  "error": "invalid_grant",\n  "error_description": "Bad Request"\n}')
Traceback (most recent call last):
  File "C:/PROGRA~1/QGIS3~1.10/apps/qgis/./python\qgis\utils.py", line 334, in _startPl

[2019-12-17 14:58] SiggyF commented on #36
Can you try to authenticate outside the plugin. Fo  example  using:
`conda install earthengine-api` and then run `earthengine authenticate`?

[2019-12-17 15:02] SiggyF commented on #19
This is completed, available at https://plugins.qgis.org/plugins/ee_plugin/

[2019-12-17 15:02] #19 closed

[2019-12-17 16:33] PyDG commented on #36
re-authenticating outside the plugin seems to have solved the problem.
Thanks!

[2019-12-17 19:13] SiggyF commented on #36
Added a [FAQ section](https://github.com/gee-community/qgis-earthengine-plugin/blob/master/README.md#faq) with info about resetting the authentication.

[2019-12-17 19:13] #36 closed

[2019-12-19 10:20] sahirpatel opened #39 "QGIS Earth Engine Plugin does not work on Mac"
Following Error
Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method

urllib.error.URLError:
Traceback (most recent call last):
  File "/Users/sahirpatel/Library/Application Support/QGIS/QGIS3/profiles/default/python/plugins/ee_plugin/extlibs_darwin/ee/data.py", line 218, in get_persistent_credentials
    tokens = json.load(open(oauth.get_credentials_path()))
Fil

[2019-12-19 19:29] jerrod-lessel commented on #39
Pretty sure thats the same error I got, I just double clicked the `Install Certificates.command` file in my python folders and it solved the issue.

[2019-12-19 21:44] sahirpatel commented on #39
Hi Jerrod, thankyou for your response, where exactly can I find this command?

[2019-12-19 21:45] jerrod-lessel commented on #39
For me it is in the python folders where the applications are.

[2019-12-19 22:11] sahirpatel commented on #39
I have tried it and the problem still persists.

[2019-12-19 22:17] jerrod-lessel commented on #39
Huh, that's odd because I just checked my error and it was the same. I don't know what else I did that could have affected this. I'm sorry I couldn't help much then.

[2019-12-20 11:40] rauledop1 commented on #34
Yes, I can.

I work perfectly througth both ways,

[2019-12-20 16:07] gena commented on #39
@sahirpatel, can you make sure that you run it on a proper Python that is used by QGIS, as mentioned in https://github.com/gee-community/qgis-earthengine-plugin/blob/master/README.md#faq?

[2019-12-20 19:11] jerrod-lessel commented on #39
Ah I did that as well, that must have been the additional step for what was needed.

[2019-12-21 22:20] zgcao commented on #34
We have found a suggestion. You can manually authenticate GEE  to get credentials in the terminal: `earthengine authenticate`

[2019-12-24 04:03] hello-deepak opened #40 "GSOC 2020 QGIS earthengine plugin"
Hello Everyone,

I dont have any issues. I just want to contribute to this QGIS earth engine plugin. Is there any way I can contribute through Google Summer of Code(GSOC)?

[2019-12-24 14:32] giswqs commented on #35
@GokulGeo  [Here](https://github.com/giswqs/qgis-earthengine-examples) are examples.

[2019-12-24 14:48] giswqs opened #41 "Displaying FeatureCollection"
It seems the `Map.addLayer()` function renders FeatureCollection differently than the GEE Code Editor. By default, the FeatureCollection is display as all black, which makes it difficult to distinguish individual features within a FeatureCollection. See below.

[code]

![](https://i.imgur.com/kH7qCSU.png)

[GEE script](https://code.earthengine.google.com/?scriptPath=Examples:Datasets/TIGER_2018_St

[2019-12-24 15:16] gena commented on #35
The first fix for this authentication type of error is to try authenticating using the command-line version of EE. Please follow https://developers.google.com/earth-engine/command_line and install EE Python API using Conda and then authenticate it via ```earthengine authenticate```.

@giswqs nice to see examples for the plugin, but this is a bit off-topic here. I'd post this on the developers' for

[2019-12-24 16:16] gena commented on #41
Thanks for reporting, this will be fixed in the next release.

![image](https://user-images.githubusercontent.com/169821/71419699-13965280-2671-11ea-8e48-df0ff2cfc921.png)

[2019-12-24 16:19] giswqs commented on #41
@gena Awesome! Thanks for the quick fix.

[2019-12-24 16:19] #41 closed

[2019-12-25 02:51] giswqs opened #42 "Map.centerObject() function not accepting Geometry"
It seems the `Map.centerObject()` function only accepts a FeatureCollection as a parameter. It would be nice if it can also accept a Geometry as a parameter. In this way, it behaves the same way as the [JavaScript version](https://developers.google.com/earth-engine/geometry_visualization_info#visualizing-geometries).

[code]

[2019-12-25 03:54] gena commented on #42
Thanks for testing!

[2019-12-25 04:08] gena commented on #42
The code is being reorganized a bit for the feature info tool. This will be fixed once everything is merged back into master.

[2019-12-25 15:21] gena opened #44 "Implement Identify tool for raster layers"

[2020-01-14 08:40] gena opened #48 "Accept image collections in Map.addLayer"
Add support for image collections in Map.addLayer

[code]

[2020-01-18 15:14] spacefan opened #49 "Map.addLayer() resulting in KeyError: 'ee_plugin'"
**1. Problem description**
When i run the fellow code, everything is OK:

[code]

but KeyError: 'ee_plugin' error occured after execlute Map.addLayer():

[code]

![KeyError: 'ee_plugin' error](https://img-blog.csdnimg.cn/20200118231306292.PNG?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3NwYWNlZmFu,size_16,color_FFFFFF,t_70)

**2. Enviorment**

[2020-01-18 15:31] gena commented on #49
This looks like something is wrong with the QGIS plugins dictionary. Can you check if the plugin is enabled in the Plugins > Manage and Install Plugins ...? Does this occur every time?

[2020-01-19 02:16] spacefan commented on #49
When i restart QGIS, QGIS throw an exception:

[code]

but **Google Earth Engine** is enabled, and the fellow code can be execluted without error in Python console:

[code]

[2020-01-19 06:04] spacefan commented on #49
Problem solved, thanks for your kind replay! @gena

[2020-01-19 06:04] #49 closed

[2020-02-06 11:54] spatialthoughts commented on #39
I was in touch with @sahirpatel and we fixed this issue by running `earthengine authenticate`. The following worked for him

Open Terminal and enter following commands
[code]

Maybe add this to the FAQ for mac users? This will be easier for most QGIS mac users than installing via Conda

[2020-02-06 12:55] SiggyF commented on #39
There is a variety of types of python installations for the mac:
- Native python version
- Homebrew (package manager)
- Macports  (package manager)
- Anaconda (python  package  manager)
Each of installations can be used together with environments:
- virtualenv
- conda environments
- pipenv

When you do `sudo pip3 install` the earthengine package might end up in the system package, which is general

[2020-02-06 16:37] M-Rick commented on #39
Just tried and didn't work. pip3 installed well the _earthengine-api_ and the _earthengine authenticate_ command did worked well. I could associate it to my Google Account. But back in QGIS, enabling the Google Earth Engine plugin, it requested a new authentification again and didn't succeed with the same bug again.

[2020-03-04 09:38] Timo65 opened #50 "Failure to install on QGIS 3.10 Windows"
Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method

Exception: Problem requesting tokens. Please try again.  HTTP Error 400: Bad Request b'{\n  "error": "invalid_grant",\n  "error_description": "Bad Request"\n}'
Traceback (most recent call last):
  File "C:/Users/Timothy.Macqueen/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\ee_plugin\ee_auth.py",

[2020-03-15 19:56] owenvachell commented on #39
I seem to be getting similar authentication issues on mac.  Get the following when using the earthengine authenticate command via terminal (after the sudo install)

import tensorflow.compat.v1 as tf
ModuleNotFoundError: No module named 'tensorflow'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/V

[2020-03-17 09:17] nguyenvanthi2020 opened #51 "Cannot install google earth engine plugin"
I use QGIS 3.12 on Windows 7
I install GEE plugin, but when I paste the authentication code into the verification box, I get error:

Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method

ee.ee_exception.EEException: Server returned HTTP code: 404

Traceback (most recent call last):
  File "C:/Users/USER/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\e

[2020-03-20 16:04] gena commented on #51
Try to authenticate outside of the QGIS, the plugin uses the same auth info as the EE CLI: https://github.com/gee-community/qgis-earthengine-plugin#faq.

[2020-03-20 16:08] gena commented on #50
I hope it's a duplicate of #51

[2020-03-20 16:08] #50 closed

[2020-03-23 19:34] jctull commented on #51
Also make sure that your google [account has approval](https://signup.earthengine.google.com) to use google earth engine.

[2020-03-28 16:36] xtnncherish315 commented on #49
had the same problem.how you fix it?

[2020-04-04 12:32] qq2898 opened #52 "there is no Authorization window, how to run Earthengine authenticate in CLI?"
it can't be run earthengine authenticate in system's cmd window, how can I to do? is there any detail help?

[2020-04-04 13:06] gena commented on #52
Try authenticating using command-line as explained here: https://developers.google.com/earth-engine/command_line#authenticate, if that does not work - report an issue here: https://github.com/google/earthengine-api/issues

[2020-04-05 00:47] qq2898 commented on #52
I installed gee plugin in QGIS in Win10 x64 and therefore there&nbsp;is earthengine.exe in the path "C:\Users\admin\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\ee_plugin\extlibs_windows\bin",
 but when I run 'earthengine' in cmd, it shows:
 Fatal error in launcher: Unable to create process using '"c:\opt\miniconda3\python.exe"&nbsp; "C:\Users\86158\AppData\Roaming\QGIS\QGIS3\profile

[2020-04-12 20:13] gena commented on #52
you can install earthengine independently from QGIS, the plugin uses the same configuration file as the CLI of earthengine. Check EE docs on how to install and authenticate it. You don't need to run it from the plugin dir

[2020-04-14 22:03] geomenke commented on #35
I am having similar issues getting the plugin to authenticate on my Windows 10 box. I have installed earthengine-api via OsGeo4W shell and Anaconda and successfully authenticated EE at the command prompt. However, when I paste the authentication code into the plugin window I always get the message below. I've tried it on ubuntu with similar results.. I have tried this on QGIS v3.12-1 and 3.10-4. A

[2020-04-15 07:52] gena commented on #35
Installing earthengine-api under QGIS python in parallel to QGIS EE plugin is a road to troubles, since calling ```import ee``` will be ambiguous - don't do that (uninstall it). Instead, install earthengine-api under some separate python/anaconda installation. There is no need to copy/paste code in this case, just authenticate using a separate python installation + earthengine-api, follow instruct

[2020-04-15 14:38] geomenke commented on #35
@gena  Thanks for the feedback and help. Now I have a single installation of earthengine (anaconda) and see the ~.config\earthengine\credentials file. However, QGIS does not pick up on it. When QGIS launches the Authorization window opens instructing me to follow the instructions in the opened web page and paste the resulitng auth token here.
![image](https://user-images.githubusercontent.com/4527

[2020-04-15 16:07] gena commented on #35
That's weird, what QGIS version are you using? The option I'd think of is to uninstall the plugin and make sure there is nothing from the earthengine-api left in the QGIS directory.

This could be a new EE API issue as well.

... also the dialog text needs to be fixed :
)

[2020-04-15 16:14] gena commented on #35
So, try to:

* Uninstall QGIS plugin
* Start QGIS and type in Python console: `import ee` - this should fail

[2020-04-15 16:26] geomenke commented on #35
I unistalled the plugin.
`import ee` failed at the python console
Checked my plugin folder and there is nothing related to ee there
Reinstalled the plugin and at that point can import ee at the console.
However, when I close QGIS and restart I get the Authorization message

[2020-04-15 16:42] gena commented on #35
Hmm, I've just removed my auth file and tried to authenticate from QGIS on my machine as well ... everything worked. I've sent you an email, let's find out why this fails on your machine. This could be some firewall issue, but then authenticating using CLI would also fail.

[2020-04-15 23:01] dongjief commented on #35
Hi, Gena,

I can use the qgis-earthengine-plugin now.
The method I used was set a proxy command in Python Console of QGIS. It is shown as below.

import ee
import os
os.environ['HTTP_PROXY'] = 'http://127.0.0.1:1081'
os.environ['HTTPS_PROXY'] = 'http://127.0.0.1:1081'
ee.Initialize()

Then the plugin can be applied.

[2020-04-16 17:35] gena commented on #35
It seems that 404 sometimes means that account is not fully whitelisted, I'll extend FAQ to include this case.

[2020-04-28 13:45] giaco51 commented on #39
I am having the exact same problem on my MBP/10.13.6. Funny, I installed Python 3.7 Install Certificates.command and Update Shell Profile.command, which is what QGIS 3.10 uses and re-installed EE plugin after a re-start. Same problem. When the same action was performed on my iMac/10.12, it worked perfectly! Please help!

[2020-05-04 11:15] rsprabha commented on #39
I am having the same authentication problem. Has there been a fix for this?

[2020-05-04 11:22] gena commented on #39
@rsprabha did it work before? Did you follow steps in https://github.com/gee-community/qgis-earthengine-plugin/blob/master/README.md#faq? Does the command-line version of EE, installed in the main system Python instead of in QGIS, work?

[2020-05-04 11:25] gena commented on #39
Also, check if you can access and login using Code Editor: http://code.earthengine.google.com. Sometimes accounts are not enabled, which will also result in errors in QGIS.

[2020-05-04 14:05] rsprabha commented on #39
GEE Code editor works...
Also worked though the links and authenticated by the python shell
And got
print(ee.String('Hello World from EE!').getInfo())
Thanks

[2020-05-05 11:57] owenvachell commented on #39
The code editor worked for me. Thanks Gena.

[2020-05-17 13:21] asuhag commented on #39
Had the same error. The following worked for me.

- Uninstall earthengine plugin from qgis.
- install earth engine via your terminal -- pip install earthengine-api
- open python in your terminal and do the following

This will lead you to the browser. Copy the token and paste in the terminal.
If that works, you should see this "Successfully saved authorization token."
Exit python from your termina

[2020-06-01 22:14] sandroklippel opened #53 "Please, update earthengine python api."
Please, update earthengine python api.
Google says:
"Earth Engine servers now require client library v0.1.215, released March 11. Please update to the latest Python"
So, it is possible that soon the plug in does not work anymore.

[2020-06-05 03:02] ChongyouXu commented on #49
How to solve this problem, looking forward to your reply！

[2020-06-06 13:05] ChongyouXu commented on #49
Hello, we encountered the same problem, but no solution has been found so far.
Can you help us solve this problem？
![image](https://user-images.githubusercontent.com/32831575/83944856-3b512f80-a839-11ea-9d3f-44600d8640e0.png)

[2020-06-10 23:58] gena opened #54 "Upgrade EE library to 0.1.224 and release minor 0.0.2 version"
Make it work for all supported platforms:
* [x] Windows
* [x] Linux
* [x] macOS

[2020-06-11 00:00] gena commented on #53
Busy with it in #54, should be fixed within a week or so.

[2020-06-11 00:00] #53 closed

[2020-06-11 15:43] jdbcode commented on #54
Thanks for doing this! Let me know if I can help spread the word about folks needing to update to 0.0.2 when it is released.

[2020-06-12 06:48] mty0716 opened #55 "mac os cannot load the plugin, but the earthengine authenticate has been successfully verified"
I can download the plugin, but it can't work. This is the error.

Unable to load plugin "ee_plugin" due to an error when calling its classFactory() method

TimeoutError: [Errno 60] Operation timed out
Traceback (most recent call last):
  File "/Applications/QGIS3.10.app/Contents/MacOS/../Resources/python/qgis/utils.py", line 334, in _startPlugin
    plugins[packageName] = package.classFactory(ifac

[2020-06-12 07:05] gena commented on #55
Are you sure you are not under a firewall? Does the command-line version work - check the FAQ: https://github.com/gee-community/qgis-earthengine-plugin#faq?

[2020-06-18 15:02] relima opened #56 "Current version no longer works"
The current version uses google libraries that have been discontinued. So it does not work anymore.

[2020-06-18 21:16] XavierCLL commented on #56
Hi, thanks and yes we know that, it's in progress issue #54

[2020-06-18 21:16] #56 closed

[2020-06-20 21:38] engrprecious opened #57 "Error in Installing the qgis-earthengine-plugin"
Trying to install qgis-earthengine-plugin, this is what i get. Can anyone explain what is happening and help out?

Couldn't load plugin 'qgis-earthengine-plugin-master' due to an error when calling its classFactory() method

ImportError: cannot import name 'provider' from 'ee_plugin' (C:/Users/Lenovo/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\ee_plugin\__init__.py)
Traceback (most

[2020-06-22 14:23] gena commented on #57
Are you able to use EE from Code Editor and can you install/run earthengine-api from the comand-line? Using your default python (not the one within QGIS).

Check some common problems here https://github.com/gee-community/qgis-earthengine-plugin#faq?

[2020-06-22 14:50] gena commented on #54
I've decided to move new small features into a separate release and focus only on the EE lib update for 0.0.2, new features still need some testing

[2020-06-22 19:39] #54 closed

[2020-06-22 19:39] gena commented on #54
Updated to 0.0.2

[2020-06-22 19:40] gena opened #58 "Fix errors caused by Identify tool and layer properties dialog for feature layers"

[2020-06-22 19:41] gena opened #59 "Implement Identify tool for collection layers"

[2020-06-22 19:41] gena opened #60 "Implement Identify tool for vector layers"

[2020-06-22 19:43] gena commented on #52
Closing for no activity since Apr 12

[2020-06-22 19:43] #52 closed

[2020-06-22 19:45] gena commented on #40
Have to check with GSOC organizers, maybe developing a CI for at least three platforms, or picking up some of the issues (this requires coding skills)

[2020-06-22 19:46] gena commented on #51
Closing for no activity

[2020-06-22 19:46] #51 closed

[2020-06-22 19:47] #34 closed

[2020-06-22 19:47] #35 closed

[2020-06-22 19:48] gena commented on #55
Please reopen if this is still an issue, make sure to use the latest version for now 0.0.2

[2020-06-22 19:48] #55 closed

[2020-06-23 09:00] herrtunante opened #61 "GEE Authentication problem when re-installing the plugin"
Dear Genna,

I have uninstalled the old version 0.0.1 and installed the new one 0.0.2

I immediately get this error in the pop-up window:

Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method

google.auth.exceptions.RefreshError: ('invalid_grant: Token has been expired or revoked.', '{\n  "error": "invalid_grant",\n  "error_description": "Token has been expired o

[2020-06-23 09:13] herrtunante commented on #61
Ok, I don't know exactly what was wrong but it got fixed.

I uninstalled the Plugin
In the comand line I updated my GEE Python package with pip.
I then did from the cmd line ee.Authenticate()
I reinstalled the plugin

Examples are working fine!

Sorry to bother.
/Alfonso

[2020-06-23 09:13] #61 closed

[2020-06-23 13:07] gena commented on #61
Glad you had this fixed. That looks like the EE auth issue, it simply means that you need to re-authenticate via command-line (outside of QGIS): earthengine authenticate.

[2020-07-02 12:28] Chaz6 commented on #61
I have the same issue but I could not resolve it, I would appreciate some help. This is what I tried so far:-

![image](https://user-images.githubusercontent.com/12680/86358740-eb169300-bc67-11ea-9457-8cc5d2c89a1f.png)
![image](https://user-images.githubusercontent.com/12680/86358752-ee118380-bc67-11ea-8681-9a388d2d6163.png)

[2020-07-06 09:05] iona5 opened #62 "Error during installation: 'google-api-core' distribution not found"
During installation of the plugin i get the following error:
[code]
(updated also to 3.10.7 - same error)

when i try fix that with
[code]
in a qgis python console, i feel like i am getting into an installation mess i would rather try to avoid. The plugin loader is then complaining about more stuff ("google-api-python-client not found", "ee.exception not found in ee"...).

i didnt found any prereq

[2020-07-07 16:59] udithagis opened #63 "Authentication Error"
Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method

TypeError: get_authorization_url() missing 1 required positional argument: 'code_challenge'
Traceback (most recent call last):
  File "C:\Users\udith\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\ee_plugin\extlibs_windows\ee\data.py", line 230, in get_persistent_credentials
    tokens = json.load(

[2020-07-23 19:01] spatialthoughts commented on #63
I had the same issue with QGIS 3.14 and fixed by running earthengine authenticate. See https://github.com/gee-community/qgis-earthengine-plugin#faq

[2020-07-23 19:51] gena commented on #62
This is indeed a bit suspicious, try uninstalling the plugin and make sure there is nothing left of it in the QGIS plugins directory, then reinstall. This library (google-core-api) should be included in the plugin installation and picked up by the plugin automatically. What a bit suspicious if that it looks in E:\Programs\OSGeo4Win\apps\Python37\lib\site-packages and E:/Programs/OSGeo4Win/apps/qgi

[2020-07-28 19:10] XavierCLL commented on #62
Possibly fixed with commit 8a15bd329249e20753cd64d0ba8420c02f24fc47

@iona5 and Cristhian Forero please test it using the following zip and installing it manually: https://drive.google.com/uc?export=download&id=1x8QCQ-5CzjQEk-cNEyMU87Xz5S8LaR7s

[2020-07-28 19:26] cristhian0224 commented on #62
@XavierCLL Thanks for taking the time to review it, I have installed it and it works perfectly, I am very grateful, good day.

[2020-07-29 17:16] iona5 commented on #62
Installed the ZIP file via plugin manager and at least it loads correctly and does not throw the error anymore. i can
```import ee```
in the python console. However the Earth Engine authentication does not work at all on my box apparently but that might be something specific over here. I will investigate that on my own.

[2020-07-29 18:24] XavierCLL commented on #62
Thanks guys for your tests, @iona5 you can test the plugin with this `from ee_plugin import Map` or running an example

[2020-07-29 18:27] iona5 commented on #62
yes, sorry, that did work inside the QGIS Python console.

i however needed first to manually ee.Authenticate() via an external Python console because the plugin did not do it automatically.

[2020-07-29 18:33] XavierCLL commented on #62
the plugin should do it! open a new bug with the details (or comment if the bug has already been reported)

[2020-07-29 18:41] iona5 commented on #62
sure, but i feel like my environment is currently so out of whack i assume there's something weird on my side. i certainly cannot provide i reasonable and reproducible bug report. I'd rather wait for the next release of this plugin an try to install that afresh. i'll report if authentication still fails then. (i would need to remove the file `%USERDIR%\.config\earthengine\credentials` to check thi

[2020-07-29 18:48] XavierCLL commented on #62
Ah, ok I got it.

Yes

[2020-08-05 18:39] M-Rezvanpour opened #66 "couldn't activate the plugin"
Hi,
I just installed the plugin but when I wanted to activate it, I faced this error:

[code]

[2020-08-05 18:48] XavierCLL commented on #66
Hi, this error was fixed in #62 (but not released yet), use the zip attached in this comment https://github.com/gee-community/qgis-earthengine-plugin/issues/62#issuecomment-665224009

[2020-08-05 19:04] M-Rezvanpour commented on #66
Thanks, problem solved
but now every time when I want to run a script, a new earth engine authentication window opens in my browser to allow the earth engine.
After I clicking on the allow button, a code shows but I don't know where to put it in the plugin (it's something like the API code)

[2020-08-05 19:08] XavierCLL commented on #66
If the plugin ask about the earth engine auth if because you haven't completed the authentication process for the plugin, copy the earth engine code in the window that plugin open for it

[2020-08-05 19:13] M-Rezvanpour commented on #66
for instance, the code below:
[code]

how can I complete the authentication process? should I dot it in the code or can I do it through the plugin? because I didn't see any config option for this in the plugin's options

[2020-08-05 19:20] XavierCLL commented on #66
When you run it that code, the plugin should open a dialog like this, copy in that entry the auth access code

![dialog](https://user-images.githubusercontent.com/11801453/89454767-061c6d00-d716-11ea-81b4-a0f7b8863b23.png)

[2020-08-05 19:22] M-Rezvanpour commented on #66
this dialog doesn't show up!

[2020-08-05 19:23] XavierCLL commented on #66
sure? it should be open a dialog, else it is a bug

[2020-08-05 19:25] M-Rezvanpour commented on #66
yeah, I'm using QGIS version 3.12.0
and I just installed the plugin using the zip file you said earlier

[2020-08-05 19:28] XavierCLL commented on #66
but the web page to authorization opens automatically? can you see any error or something?

[2020-08-05 19:36] M-Rezvanpour commented on #66
yes, web page opens
here's the error:
[code]

tried that, but nothing changed!

[2020-08-05 19:39] XavierCLL commented on #66
could you please confirm this restarting Qgis and try again?

[2020-08-05 19:51] M-Rezvanpour commented on #66
I did that but same problem happened!

[2020-08-05 19:54] XavierCLL commented on #66
Thanks, I'll review it, please keep tuned

[2020-08-05 21:04] XavierCLL commented on #66
Hi @M-Rezvanpour could you please test with this zip: https://drive.google.com/file/d/1x8QCQ-5CzjQEk-cNEyMU87Xz5S8LaR7s/view?usp=sharing

[2020-08-05 23:49] #63 closed

[2020-08-05 23:59] #62 closed

[2020-08-06 12:11] M-Rezvanpour commented on #66
Thanks, the dialog box now shows up!
but after that I got this error:
Traceback (most recent call last):
[code]

[2020-08-06 18:07] XavierCLL commented on #66
are you through a proxy? if yes then set:

import os
os.environ['HTTP_PROXY'] = 'http://ip:port'
os.environ['HTTPS_PROXY'] = 'http://ip:port'

[2020-08-10 04:38] XavierCLL commented on #66
I'm going to close this, feel free to open it again if the bug persists

[2020-08-10 04:38] #66 closed

[2020-09-25 12:44] keepcool13 opened #67 "Plugin fails to initialize with AttributeError: module 'six.moves' has no attribute 'collections_abc'"
I have installed the current version (0.0.2) of the plugin. When starting QGIS, I get a window that says:

Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method
AttributeError: module 'six.moves' has no attribute 'collections_abc'
Traceback (most recent call last):
  File "/Applications/QGIS3.12.app/Contents/MacOS/../Resources/python/qgis/utils.py", line 334, in _

[2020-09-25 17:06] keepcool13 commented on #67
Looking again at the traceback, I realised that the bug actually is not from here, but from the Google Python API Client. Someone else had the same problem, but with a different API just 3 days ago: https://github.com/googleapis/google-api-python-client/issues/1039 So does that mean this issue can be closed? It is not actually resolved but probably the error has a different source.

[2020-09-25 17:52] XavierCLL commented on #67
Hi,
That happens because the plugin has all external libraries that need to work and this includes the Earth Engine API, (I think that we need to release another version with all libraries updated).

If you have all GEE libraries working in your system try to delete al folders in the following directory and restart the Qgis:
[code]

[2020-09-25 17:59] XavierCLL opened #68 "Python libs conflicts"
To avoid python libraries' conflict between system and plugin, try to use the libraries in the system before using the libs inside the plugin. Related #67

[2020-09-25 18:04] keepcool13 commented on #67
Hi,
thanks for your answer, but your suggestion didn't work. Do you have any idea what else could be the problem?

[2020-09-25 18:12] XavierCLL commented on #67
then try to build the plugin by yourself, first uninstall the plugin, download the plugin code, run `paver setup` and `paver package`

https://github.com/gee-community/qgis-earthengine-plugin#for-developers

[2020-10-06 08:25] aadi2712 commented on #39
installing earth engine from the terminal first and then through plugin worked for me. Thanks asuhag

[2020-10-06 12:04] M-Rick commented on #39
I get an error.

[code]

[2020-10-06 12:16] asuhag commented on #39
Try this

https://github.com/nahamsec/JSParser/issues/18#issuecomment-478643037

[2020-10-06 12:18] gena commented on #39
@M-Rick, in most of the cases these errors occur due to conflicts in local installations of python packages. Make sure you have the latest version of earthengine-api package installed. Or try uninstalling earthengine-api from your python environment so that QGIS EE plugin can use it's embedded version, 0.1.226.

Did you install earthengine-api package before in your python environment? I'm not sur

[2020-10-06 12:22] gena commented on #68
I'm not sure if this is a good idea, will probably result in even more errors, frequently users forget to install proper EE version globally. It feels like cross-platform QGIS and local Python environment is a non-stop source of troubles. I'd prefer if QGIS can just support packages from requirements.txt and skip global version of Python altogether, but it does not.

[2020-10-06 12:26] gena commented on #67
This could be a challenge for non-dev users

@keepcool13 can you try uninstalling earthengine-api in your global Python environment and restart QGIS, this could be a conflict between EE versions and see what happens?

[2020-10-14 02:35] viniciuspg opened #69 "Error"
Hello,

on the first installation attempt, the error appeared below. Then, I clicked on reinstall complement, apparently it is installed, but I reproduce here the error as it appeared:

Impossível carregar complemento 'ee_plugin' Devido a um erro ao chamar o método Class Factory().

TypeError: get_authorization_url() missing 1 required positional argument: 'code_challenge'
Traceback (most recent c

[2020-10-14 03:52] XavierCLL commented on #69
Hi,
That error was fixed (but unreleased), use this zip file: https://github.com/gee-community/qgis-earthengine-plugin/issues/62#issuecomment-665224009

If the error persists, open it again.

[2020-10-14 03:52] #69 closed

[2020-11-04 15:13] rahulkgour opened #70 "Getting error while installing ee plugin"
Couldn't load plugin 'ee_plugin' due to an error when calling its classFactory() method

pkg_resources.DistributionNotFound: The 'google-api-core' distribution was not found and is required by the application
Traceback (most recent call last):
  File "/Applications/QGIS.app/Contents/MacOS/../Resources/python/qgis/utils.py", line 334, in _startPlugin
    plugins[packageName] = package.classFactory(

[2020-11-04 15:50] rahulkgour commented on #70
I have installed Google Earth Engine and Authenticated succesfully through terminal, following https://developers.google.com/earth-engine/guides/python_install-conda#mac.

But still, I see the same error which I mentioned earlier during starting up the QGIS.

[2020-11-04 15:59] akiravn commented on #70
Hi,

It seems that the problem is about the version of QGIS you are using.

I had QGIS 3.14, and I had quite the same problem. When I changed it to 3.10, the problems were solved with both Google Earth Engine and Google Earth Engine Data Catalogue.

Give this a try! I think the plugin may run better in the long-term-release of QGIS.

From: rahulkgour <notifications@github.com>
Sent: Thursday, Nove

[2020-11-04 17:30] rahulkgour commented on #70
thanks for your quick response to the issue. I was actually using QGIS 3.14 earlier, then switched back to QGIS 3.10, but issue remain persisted. Now by today I have tried using QGIS 3.16.

I am getting issues with almost all plugins, not sure whats causing the issue. Can you help me to see if any python issue or something.

[2020-11-04 18:01] gena commented on #70
Problems with all plugins sound like maybe some conflicting python installations. Unfortunately, I can't test it on MacOS, but I see that both the embedded python and the system-wide python are used, but maybe this is typical on MacOS. But "pkg_resources.DistributionNotFound: The 'google-api-core' distribution was not found" looks suspicious, I'd try googling that and/or searching on GitHub for si

[2020-11-04 19:46] XavierCLL commented on #70
Hi @rahulkgour , this error was fixed in #62 (but not released yet), use the zip attached in this comment https://github.com/gee-community/qgis-earthengine-plugin/issues/62#issuecomment-665224009 please confirm, could be another problem

[2020-11-04 19:46] tylere commented on #70
Speculating here, but the QGIS plugin [`__init__.py`](https://github.com/gee-community/qgis-earthengine-plugin/blob/bf957e0e744b53ba8642617e1c9efc500c1471e3/__init__.py#L5) may need to reload pkg_resources after adding a site directory:

Untested code:
[code]

This suggestion comes from https://github.com/googleapis/google-api-python-client/issues/476#issuecomment-371797043

[2020-11-04 19:53] XavierCLL commented on #70
Thanks @tylere that bug was already fixed, @gena we need to launch another version with the last fixes, there have been several duplicates bugs with the same issue

[2020-11-04 20:02] gena commented on #70
Thanks! I will upload a minor release ASAP which will hopefully make the plugin a bit more stable.

[2020-11-04 20:03] XavierCLL opened #71 "Release v0.0.3"
There have been important bugfixes since v0.0.2 affecting new users

v0.0.3

-  EE raster layer inspector
-  Show some useful EE properties (bands, value types) in QGIS layer properties dialog
-  Fix GEE url authentication function if the credentials is not exists #63
-  Fix crash if the authentication dialog is cancelled or not filled by the user
-  Init the Google Earth Engine user authorization

[2020-11-04 20:03] XavierCLL commented on #70
v0.3 #71

[2020-11-04 20:06] XavierCLL commented on #71
@gena why you versioning in Qgis plugin as 0.0.3? it should be 0.3

[2020-11-04 20:12] gena commented on #71
I'm trying to release it, the only concerns I have right now is that:

* we did not test it on all platforms yet
* there are some breaking changes with regards to QGIS file formats - users will have to re-run their scripts to make QGIS projects working

[2020-11-04 20:14] gena commented on #71
It was actually 0.0.1, 0.0.2 in the previous releases (see tags, etc.), maybe we should update readme to keep it in-sync

[2020-11-04 20:17] XavierCLL commented on #71
I tested all the changes made in Linux and Windows, and some of then in Mac

what changes are you talking about?

[2020-11-04 20:22] XavierCLL commented on #71
to be honest, I prefer 0.3 because 0.0.3 seems a plugin very unfunctional and incomplete, but the plugin is completely functional maybe not complete until release 1.0

[2020-11-04 20:26] gena commented on #70
@rahulkgour, can you try uninstalling the EE plugin, then make sure you have _Show also experimental plugins_ checked under _Plugins > Settings_, and then try installing v0.0.3 of the Earth Engine plugin and let us know if this resolves the initialization issue.

[2020-11-04 20:34] gena commented on #71
It is a very bad error-prone practice to change the version of released software (tags, zip files, etc.) - let's stay backwards-compatible for now to avoid generating new errors and then update it in the next release, maybe v1.0.0 somewhere Q1 21 after adding a few major features. The last number current is updated indicating a bugfix path, e.g. https://en.wikipedia.org/wiki/Software_versioning

[2020-11-04 20:36] gena commented on #71
https://github.com/gee-community/qgis-earthengine-plugin/commit/36f449f02cb3c5542dceb0c9ca43cab2a9b0caac

[2020-11-04 21:04] gena commented on #71
So, to actually release the v0.0.3, we need to make sure that we have tested and fixed bugs related to the following scenario:

Save the QGIS project containing EE layers (vector and raster) in v0.0.2 format and then try to re-open using v0.0.3 version, making sure nothing is broken and layers (properties) are updated smoothly (testing save / load using new version as well). Once this goes smoothl

[2020-11-04 21:52] XavierCLL commented on #71
Sound good, I'll find some time in the following days to testing changes in v0.0.3, mainly the EE raster layer inspector changes (the #70 is the same that issue  #62 that is why I closed it, but I ok to wait for the feedback)

[2020-11-05 04:55] rahulkgour commented on #70
Hi gena,

As you mentioned, have uninstalled the EE plugin and then checked the _Show also experimental plugins_ checked under Plugins > Settings, then quit QGIS.
Now when I am trying to reinstall the EE plugin, I can see only v0.0.2 not v0.0.3 under plugin search section. Can you please guide me on getting the latest version.

<img width="410" alt="Screenshot 2020-11-05 at 10 18 16" src="https://

[2020-11-05 07:56] gena commented on #70
Strange, what I see in QGIS 3.14 is:
![image](https://user-images.githubusercontent.com/169821/98212974-ac118a80-1f44-11eb-9b18-e187e9d72658.png)
Can you try with this version?

[2020-11-10 16:47] gena commented on #70
@rahulkgour, any success installing it with the 3.14? As an alternative, you can try installing from [ZIP](https://drive.google.com/file/d/1iN9MePLbtHghJ20ujGJA4FOwCzNmKSHM/view?usp=sharing). Let us know if this works.

[2020-11-10 17:12] rahulkgour commented on #70
Hi Gena,

I will try it and update you in two days time.

Thanks for following up.

[2020-11-13 08:48] SiggyF commented on #67
This issue can be caused by an old six version. The module `six.moves.collections_abc` requires `six>=1.13`

[2020-11-13 10:49] SiggyF commented on #70
For me the experimental version (0.0.3) works on OSX, where the 0.0.2 did not, with the same error.

[2020-11-13 13:07] gena commented on #67
@SiggyF, six-1.15.0 is included with the plugin, for v0.0.2 and experimental v0.0.3, while the v0.0.1 uses six-1.13.0. So this must be something else, the conflicts are in the system Python installation

[2020-11-13 13:10] gena commented on #70
@SiggyF thanks for testing this! So this fixes the but and we just need to implement the 0.0.2>0.0.3 project upgrade and test to release it, closing this one and back to #71.

[2020-11-13 13:10] #70 closed

[2020-11-27 20:56] nelsonag96 commented on #39
I'm having the same problem, I've tried everything, but it doesn't seem to work. I get this error when I type the 'import ee' on the QGIS python console:
Traceback (most recent call last):
  File "/Applications/QGIS.app/Contents/MacOS/../Resources/python/code.py", line 90, in runcode
    exec(code, self.locals)
  File "<input>", line 1, in <module>
  File "/Applications/QGIS.app/Contents/MacOS/../

[2020-11-28 12:37] gena commented on #39
@nelsonag96 can you check if the following version works for you (install from a zip): https://github.com/gee-community/qgis-earthengine-plugin/issues/70#issuecomment-724826167?

[2020-11-28 14:23] nelsonag96 commented on #39
@gena Yes, I could, thank you! However, when I try to authenticate 'earthengine authenticate' I get the following error:
Traceback (most recent call last):
  File "/Applications/QGIS.app/Contents/MacOS/../Resources/python/code.py", line 63, in runsource
    code = self.compile(source, filename, symbol)
  File "/Applications/QGIS.app/Contents/MacOS/../Resources/python/codeop.py", line 171, in __cal

[2020-11-28 15:46] gena commented on #39
Are you trying to run ```earthengine authenticate``` in the QGIS Python console? Try in the OS terminal.

[2020-12-10 22:01] Efrain73 opened #75 "The 'google-api-core' distribution was not found and is required by the application"
After installing the plugin, I get this message, I did tests in several versions of Qgis and the message persists

--------------------------------------------------------------------------------------------------------------------

No se pudo cargar el complemento 'ee_plugin' debido a un error al llamar a su método classFactory()

pkg_resources.DistributionNotFound: The 'google-api-core' distribu

[2020-12-12 21:17] BrawlPups opened #76 "syntax or compile error on trying to call authentication for plugin on qgis 3.16?"
Here are various traces when trying command in python console qgis to authenticate.
There was not a pop up for authentication at anypoint after plugin installation so I tried the python editor which aslo did not work for me. This is on windows 10 with QGIS 3.6 and I have bitdefender if that matters.

2020-12-12T15:50:42     CRITICAL    Traceback (most recent call last):
              File "C:\User

[2020-12-12 22:00] gena commented on #76
So, did you try running earthengine authenticate in your command-line? Not in QGIS but after installing earthengine-api as a usual python package. Then restart QGIS again with EE plugin installed.

[2020-12-14 00:44] XavierCLL commented on #75
Hi, this error was fixed (but not released yet) please test it using the following zip and installing it manually: https://drive.google.com/uc?export=download&id=1x8QCQ-5CzjQEk-cNEyMU87Xz5S8LaR7s

[2020-12-14 00:44] XavierCLL commented on #76
Hi, this error was fixed (but not released yet) please test it using the following zip and installing it manually: https://drive.google.com/uc?export=download&id=1x8QCQ-5CzjQEk-cNEyMU87Xz5S8LaR7s

[2020-12-15 09:24] Efrain73 commented on #75
Thanks Xavier
*______________________________________    *
          *Efrain Y. Turpo Cayo*
*         Ing° Topógrafo y Agrimensor*
*   GIS, Remote Sensing and Environmental Modeling*
*___________________________________*

Em dom., 13 de dez. de 2020 às 19:44, Xavier C. Llano <
notifications@github.com> escreveu:

[2020-12-15 13:32] sarviovalente opened #77 "AttributeError: 'WindowsPath' object has no attribute 'rstrip'"
This error occurs when trying to open the plugin (check-in box manage plugin).

[2020-12-15 13:35] sarviovalente commented on #77
How to solve.

It's a but in file __init__.py located in:

C:\Program Files\QGIS 3.10\apps\Python37\lib\site-packages\pkg_resources

__init__.py

in line
        fspath = fspath.rstrip(os.sep)

to solve, you should convert fspath to string

So, just add the line before use rstrip function
fspath = os.fspath(path) #Sarvio Valente
fspath = fspath.rstrip(os.sep)

[2020-12-15 13:35] #77 closed

[2020-12-15 16:54] XavierCLL commented on #75
You're welcome, I'm going to close this, open it again if the error persists

[2020-12-15 16:54] #75 closed

[2020-12-15 19:32] Efrain73 commented on #75
Hello
I still can't run the plugin
I get another error when executing this code example

# ----------------------------------------------------
import ee
from ee_plugin import Map

image = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
          .filterDate('2018-01-01', '2018-12-02').median()

Map.addLayer(image,{'bands': ['B6', 'B5', 'B4'], 'min': 300, 'max': 5000},
'Landsat 2018')
# -----------

[2020-12-15 19:53] gena commented on #75
@Efrain73, can you please check if the following version works fine for you: https://drive.google.com/file/d/14s74jPVyymV6kJTBm4P24ComcyuPYe-C/view?usp=sharing

[2020-12-15 19:57] gena opened #78 "Current pre-release 0.0.3 fails in QGIS 3.14"
Master version of the plugin (pre-release) fails in QGIS 3.14.16:

[code]

[2020-12-15 19:59] XavierCLL commented on #75
yes, I forgot that zip is not the latest version sorry, use the gena zip

[2020-12-15 20:03] gena commented on #78
This commit broke it: https://github.com/gee-community/qgis-earthengine-plugin/commit/9c58298709f2aad478f8de154c802872d62c0a7b

[2020-12-15 20:09] XavierCLL commented on #78
I don't think that this 9c58298 is related, it's saying that eeObject = None, what example are you trying to run?

[2020-12-15 20:18] XavierCLL commented on #78
be sure that "ee.Image(1)" that you're traying to add in addLayer() is a valid eeObject

[2020-12-15 20:19] XavierCLL commented on #78
I tested the latest version with Qgis 3.14 on Windows without errors

[2020-12-15 20:23] gena commented on #78
It fails when creating provider, the flags should not be passed even when it's None

[2020-12-15 20:30] gena commented on #78
It seems I've used the wrong files in 0.0.3 in experimental once it was created the first time, maybe that's why it worked, or did you test it with the local source code?

I've just re-uploaded 0.0.3 on the QGIS plugins website, it includes this fix as well, just tested locally, works fine with 3.14.16, hopefully, it works in 3.16 as well.

[2020-12-15 20:33] gena commented on #75
The above zip should be also available as 0.0.3 if you enable Experimental in QGIS, we're testing this right now

[2020-12-15 20:39] XavierCLL commented on #78
yeah, I tested with the latest version and happened that error, I implemented the fixes in 79 and works fine!

[2020-12-15 20:45] XavierCLL commented on #78
works in Qgis 3.16 as well

[2020-12-15 21:13] #78 closed

[2020-12-29 01:23] zbss commented on #66
Hi, I'm using QGIS version 3.14.16, this error occurred when I installed the Google Earth Engine plugin and tried to load the map.
![image](https://user-images.githubusercontent.com/73832832/103252361-7f637780-49b7-11eb-9d81-251daddbce07.png)

[2021-01-05 08:25] gena commented on #71
I've tried releasing 0.0.3, but somehow it's not automatically approved in QGIS, strange, hopefully, will be picked up by someone from QGIS so we can close this

![image](https://user-images.githubusercontent.com/169821/103623030-cc0afd80-4f37-11eb-9ce3-bdf144a8aa3b.png)

[2021-01-05 12:00] gena commented on #71
Released

[2021-01-05 12:00] #71 closed

[2021-01-07 00:06] gena commented on #76
This should be fixed by #71 please reinstall the plugin to v0.0.3

[2021-01-07 00:06] #76 closed

[2021-01-07 00:12] gena commented on #67
Closing for no reply. This should work by now.

[2021-01-07 00:12] #67 closed

[2021-01-07 00:58] gena commented on #42
Should work  in the new release

[2021-01-07 00:58] #42 closed

[2021-01-07 00:59] gena commented on #39
This should work, fixed by #82

[2021-01-07 00:59] #39 closed

[2021-01-07 01:02] gena commented on #33
The error should be gone, fixed in #82

[2021-01-07 01:02] #33 closed

[2021-01-07 01:03] gena commented on #57
Closed for no activity, the error is most probably fixed by #82

[2021-01-07 01:03] #57 closed

[2021-01-07 01:05] gena commented on #40
Unfortunately, we don't do any developments via GSOC, maybe in the future.

[2021-01-07 01:05] #40 closed

[2021-01-07 01:06] gena commented on #58
No bug anymore, probably fixed by the #71

[2021-01-07 01:06] #58 closed

[2021-01-07 01:08] gena commented on #44
Implemented in v0.0.3

[2021-01-07 01:08] #44 closed

[2021-01-07 01:11] gena commented on #38
This should be supported alredy by the following project: https://github.com/giswqs/geemap

[2021-01-07 01:11] #38 closed

[2021-01-08 00:23] vieiramesquita opened #83 "Add Map.onChangeCenter() to QGIS plugin"

[2021-01-08 00:37] gena commented on #83
Let's elaborate a bit:

Can you provide a few scenarios on how this will be used?

In Code Editor, when the user hits run, all event handlers defined in that script are subscribed, and when the user re-runs that script - event handlers are re-subscribed from scratch. This feature can be probably implemented in QGIS in a similar way if I manage to find how to handle the Run Script button signal. An

[2021-01-08 01:14] gena commented on #83
Here how a prototype looks like, a bit slow with EE calls on every center change:

https://user-images.githubusercontent.com/169821/103962342-0ef6ec00-5157-11eb-99dc-382825035121.mp4

[2021-01-08 01:31] vieiramesquita commented on #83
The example I have is: I need to navigate through many points (9k) and I don't want to load images (Sentinel 2) for a large area (an entire country, i.e. Brazil) or click on the Run button for each point. Map.onChangeCenter() seems to be the best way to do this in QGIS.

[2021-01-08 02:00] gena commented on #83
Hmm, I still don't see how Map.onChangeCenter() would help here, if you plan to re-run EE processing every time you change map center - it could be slow.

It might be better to have some more explicit way to trigger processing for a given point (or points), e.g. select a point in a layer to trigger EE update or something using QGIS Python API, like run a script that will iterate over points in the

[2021-01-08 12:49] vieiramesquita commented on #83
I will try to iterate over the selected feature. It seems to be the best way to do what I want 😅

[2021-01-30 15:00] Ash888-lab opened #86 "Trouble Authenticating in Qgis version 3.16-3"
Hii there. I am pretty much new to Github. Do pardon any convention errors I might be committing. I recently installed Google Earth Engine Plugin in Qgis Version 3.16-3. The authenticate option didn't come up after the install and I tried to authenticate using the python console. It did successfully open a browser window having the authentication key but when I came back to try to paste the key th

[2021-01-30 19:23] XavierCLL commented on #86
Hi,
The plugin's authentication dialog comes up when you use it, run in the Python console in Qgis:
`from ee_plugin import Map`
Or run an example

[2021-01-30 19:41] gena commented on #86
@Ash888-lab, if you'd like to authenticate manually - you need to run `earthengine authenticate` in an ordinary python console (not in the QGIS python console)

[2021-01-31 13:32] Ash888-lab commented on #86
@XavierCLL @gena  Much thanks. Now when I tried its working fine. Once again thanks so much for the quick reply.

[2021-01-31 13:33] #86 closed

[2021-01-31 20:34] relima opened #87 "AttributeError: 'QgsRasterDataProvider' object has no attribute 'set_ee_object'"
This error started to show up just after I updated the code to 0.0.3.

Downgrading does fixes the issue. Any ideas?

[2021-01-31 21:54] gena commented on #87
Hmm, which version of QGIS do you use?

This may have something to do with the older file format, does this happen when you open an older QGIS project with EE layers saved using previous versions of the QGIS EE plugin?

[2021-01-31 23:39] relima commented on #87
The error happens when I try using the latest 3.16.3 with 0.0.3.  However, everything works well once I am back to 0.0.2.

This is the complete error message:

`Traceback (most recent call last):
  File "C:\PROGRA~1\QGIS3~1.16\apps\Python37\lib\code.py", line 90, in runcode
    exec(code, self.locals)
  File "<input>", line 1, in <module>
  File "<string>", line 46, in <module>
  File "<string>",

[2021-01-31 23:40] relima commented on #87
The following message appears on my log, which may or may not be related to the problem

2021-01-31T20:38:23     WARNING    Traceback (most recent call last):
              File "C:/Users/relim/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\ee_plugin\ee_plugin.py", line 133, in updateLayers
              ee_object = ee.deserializer.fromJSON(ee_object)
              File "C:\Users\relim

[2021-02-01 23:37] gena commented on #87
Does this happen in an empty project?

[2021-02-01 23:48] relima commented on #87
The problem DOES NOT happen in an empty project!

[2021-02-02 08:28] gena commented on #87
Thanks, @relima, this looks like a known bug. The problem is that the v0.0.3 QGIS file format is not backward-compatible, it uses newer EE libraries and the EE object JSON representation there is not backward-compatible with the older version. The easiest would be to re-run EE scripts for those layers to fix the problem in the older QGIS projects.

[2021-02-02 09:56] relima commented on #87
Thank you for your time and for looking into this @gena. I am going to recreate my project from scratch then and I believe it will solve that issue. Thanks!

[2021-02-02 09:56] #87 closed

[2021-02-02 15:08] gena commented on #87
Thanks for reporting! I will make sure the plugin at least shows a warning with a proper explanation instead of crashing.

[2021-02-06 12:53] GopherGT commented on #76
This appears to still be an issue. Installing GEE 0.0.3 on QGIS 3.16

ee.Authenticate() in the Python console produces the following.

The authorization workflow will generate a code, which you should paste in the box below.
Traceback (most recent call last):
  File "C:\PROGRA~1\QGIS3~1.16\apps\Python37\lib\code.py", line 90, in runcode
    exec(code, self.locals)
  File "<input>", line 1, in <mod

[2021-02-06 18:03] XavierCLL commented on #76
Hi, run in the Python console in Qgis `ee_plugin import Map` or run `earthengine authenticate` in an ordinary python console (not in the QGIS python console)

[2021-02-12 22:45] d3netxer opened #90 "plugin installation error"
I installed the plug-in. After the plug-in installed it did not ask me authenticate, so I am assuming I am already authenticated. But then again, I am not sure why it did not ask me. Anyways, I then try to test if the plugin is installed and authenticated properly as it says in the instructions:

[code]

However, I get the following error:
[code]

[2021-02-12 23:34] d3netxer commented on #90
I figured this out, it was an authentication issue. I had to install the Google Earth Engine command line tool, and then run the 'earthengine authenticate' from the command line. Can you please add this information to your page? https://gee-community.github.io/qgis-earthengine-plugin/

[2021-02-12 23:48] XavierCLL commented on #90
Hi @d3netxer, thanks for your report, and yes we need to improve the documentation, on the other hand, your report made me realize a problem in the authentication init function in the plugin, I'll fix it in the following days.

[2021-02-13 10:38] gena commented on #90
@d3netxer, the [page](https://gee-community.github.io/qgis-earthengine-plugin) is extended with a FAQ section where additional instructions are provided on how to authenticate using CLI. This was on the GitHub readme but not on the page. Hopefully, this will help others who face the same issue.

[2021-02-20 18:16] XavierCLL commented on #90
Fixed in #91

[2021-02-20 18:16] #90 closed

[2021-03-29 16:54] FelixTheAwesomeCat opened #92 "Authentication Window missing"
Hello,
when I install the plugin, no authentication window appears. I tried it with 'earthengine authenticate' but then this error appears:

Other codes work like import ee or ee.Initialize(). I tried to install the plugin on a clean QGIS, on different QGIS versions (3.10.13 and 3.16.4) and on differnet PCs. Same problem. I cant get to the authentication window that should appear normally.

Thanks

[2021-03-29 18:35] gena commented on #92
Strange, maybe some firewall issues. You need to run `earthengine authenticate` in the Windows CMD? Not in QGIS. Install python, then `pip install earthengine-api`, and then `earthengine authenticate`, as mentioned in [FAQ](https://github.com/gee-community/qgis-earthengine-plugin#faq).

@XavierCLL, do you have ide what could it be?

[2021-03-29 19:13] FelixTheAwesomeCat commented on #92
I tried on another PC, also QGIS 3.16.4 same Problem! I did what u told me, it worked, however if I try this code in qgis console:

i get this error:

So it is not working, right?

[2021-03-29 19:35] gena commented on #92
No, something is not initialized or not installed. You're trying with the latest version of QGIS EE plugin 0.0.3, right? Can you try to reinstall it in QGIS?

If you login to http://code.earthengine.google.com, everything works without any problem, right?

After running `earthengine authenticate` in the windows terminal, can you try to run the same code as above in a normal python (not in QGIS), d

[2021-03-29 19:41] XavierCLL commented on #92
Hi @gena and @FelixTheAwesomeCat that is exactly what I was discussing in #91 could you please test this package with the latest commits: https://drive.google.com/file/d/1x8QCQ-5CzjQEk-cNEyMU87Xz5S8LaR7s/view?usp=drivesdk

[2021-03-29 19:42] FelixTheAwesomeCat commented on #92
I tried it with a clean qgis, latest stable (3.16.4) and a new pc. Same problem.
Import ee doesn't work on my python. The Earthengine commands work.

[2021-03-29 19:48] gena commented on #92
So, `earthengine ls` runs without problems? And also you can reach the EE Code Editor fine in a web browser?

If EE scripts do not work under Python - I'd first try to figure out why (this has nothing to do with the QGIS or QGIS EE, but more with your python environment and/or libraries, paths, firewall).

You can also check/ask on https://github.com/google/earthengine-api/issues.

[2021-03-29 19:48] FelixTheAwesomeCat commented on #92
@XavierCLL your version worked fine!

[2021-03-29 19:51] FelixTheAwesomeCat commented on #92
@gena earthenine ls does nothing but i dont get an error ether. I can reach the web editor just fine.

[2021-03-29 19:51] gena commented on #92
@XavierCLL , hmm, I thought this was released with 0.0.3.

[2021-03-29 19:54] XavierCLL commented on #92
#91 was after v0.0.3

[2021-03-29 19:54] XavierCLL commented on #92
Good idea relase a minor release with this changes

[2021-03-29 19:55] FelixTheAwesomeCat commented on #92
Thanks for the fast help!

[2021-03-29 19:57] XavierCLL commented on #92
@FelixTheAwesomeCat thanks for reported and tested it, fixed with #91

[2021-03-29 19:57] #92 closed

[2021-03-29 20:11] gena commented on #92
@XavierCLL, check PR #93, this adds a small backwards-compatibility fix as well (prevents crashing with older QGIS EE projects)

[2021-05-24 18:20] Almavin opened #96 "Uncaught google.auth.exceptions.RefreshError: ('invalid_grant: Bad Request', '{\n "error": "invalid_grant",\n "error_description": "Bad Request"\n}')"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
ee_plugin 0.0.4, QGIS 3.16.3-Hannover on Windows 10

[2021-06-08 12:43] Almavin opened #97 "Uncaught ModuleNotFoundError: No module named 'giswater_qgis_plugin-master-3'"
Couldn't load plugin 'giswater_qgis_plugin-master-3.4'
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
ee_plugin 0.0.4, QGIS 3.16.3-Hannover on Windows 10

[2021-06-08 16:38] XavierCLL commented on #97
Hi, this error is not related to this plugin, that shows that you have a problem with the Giswater Qgis plugin, try to delete it first.

[2021-06-09 05:23] #97 closed

[2021-08-08 08:06] kennorris49 opened #100 "Couldn't load plugin 'ee_plugin' AttributeError: 'PosixPath' object has no attribute 'rstrip'"
Not sure this is a new issue, so apologies if it isn't. Ubuntu 18.04 QGIS 3.16.9-Hannover
Can anybody help? I have no idea. Herewith the message:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/qgis/utils.py", line 312, in loadPlugin
    __import__(packageName)
  File "/usr/lib/python3/dist-packages/qgis/utils.py", line 793, in _import
    mod = _builtin_import(name, glob

[2021-08-09 14:00] gena commented on #100
Looks like some python installation problem vs QGIS, somehow it searches for python 3.6 in your home while QGIS 3.18 uses python 3.7. Can you try the newer version? Maybe also upgrade local python

[2021-08-09 15:39] kennorris49 commented on #100
Thanks but I have Python 3.8.10. Not sure about 'local' version.

On Tue, Aug 10, 2021 at 12:00 AM gena ***@***.***> wrote:

[2021-08-09 15:59] kennorris49 commented on #100
OOps. my mistake. That was another machine. I will upgrade from python
3.6.9 and try again.
Thanks

On Tue, Aug 10, 2021 at 1:39 AM Ken Norris ***@***.***> wrote:

[2021-08-11 07:38] cratcliff opened #101 "Add layer to group"
Is it possible to either specify a group layer name or return the QGIS layer when using  `Map.addLayer()` so I can add it to a group layer?  I would like to do this for both vector and raster layers.

Thanks

[2021-09-06 10:01] cjobim opened #102 "Map.addLayer results in CRS error"
I'm unsure whether the error is mine or from the code, but I am getting this error with the demonstration code shown on the plugin's webpage upon running the Map.addLayer command (the CRS used in this project is UTM projected in zone 20 north, WGS84):

[code]
Does anyone have pointers on how to solve this? Thanks

[2021-10-06 13:54] gena commented on #102
The error looks a bit weird, it says something about Point constructor, do you have the whole code snippet you ruin in QGIS python script?

I've just tried in QGIS 3.18 - seems to work:
![image](https://user-images.githubusercontent.com/169821/136216666-c5c7cf12-bbc1-4153-8747-88c336e8d700.png)

[2021-11-15 16:09] LightningRpper opened #105 "ee.Initialize() error"
Hello, I'm trying to run a Python file for Google Earth. That application unfortunately isn't taking python files so I'm trying to run it in VS code. When I put in this code here,
`import ee
ee.Initialize()`
I get an error that says
`Exception has occurred: AttributeError
module 'collections' has no attribute 'Callable'`
Why is it saying that and what can I do to fix it?

[2021-11-15 17:45] gena commented on #105
Google Earth or Google Earth Engine?

What application?

If your goal is just to run a Python script using EE API - you probably need to check https://developers.google.com/earth-engine/guides/python_install

[2021-11-15 17:45] #105 closed

[2021-11-15 17:51] LightningRpper commented on #105
Google Earth. I input code that imported Earth Engine and initialized it to sync up with Google Earth but that has done nothing.

[2021-11-15 17:54] gena commented on #105
But this is the repository for QGIS Earth Engine plugin, please ask questions about Google Earth maybe in https://support.google.com/earth/?hl=en#topic=7364880

[2022-01-20 08:32] aloboa opened #106 "ee/data.py:230: ResourceWarning and __init__.py:45: DeprecationWarning"
As soon as I start QGIS, I get:
2022-01-20T08:59:10     WARNING    warning:/home/alobo/.local/share/QGIS/QGIS3/profiles/default/python/plugins/ee_plugin/extlibs_linux/ee/data.py:230: ResourceWarning:

             unclosed file

             traceback: File "", line 1, in
              File "/usr/lib/python3/dist-packages/qgis/utils.py", line 443, in startPlugin
              if not _startPlugin(p

[2022-01-20 09:06] gena commented on #106
This sounds like a qgis_gee_data_catalog plugin issue, can you try to uninstall that and see if the warning keeps coming, if not - please report it on the qgis_gee_data_catalog github

[2022-01-20 09:06] #106 closed

[2022-01-26 17:33] mnowatzki commented on #105
Have you found a solution to this yet? Having the same issue...

[2022-03-24 09:29] gena commented on #96
Try to re-authenicate Earth Engine:

* Install earthengine-api package in your local Python (not in QGIS): pip install earthengine-api
* Run: earthengine authenticate

[2022-03-24 09:30] #100 closed

[2022-04-06 17:19] karina-marques commented on #105
I am having the same issue. Any help?

[2022-04-07 08:06] XavierCLL commented on #105
Hi @mnowatzki @karina-marques @LightningRpper

The issue is not directly from this plugin, it comes from a library that uses _ee_ that is not yet compatible with Python 3.10, the (temporal) solution is using (downgrade) the Qgis with a Python < 3.10 (alternative use the Qgis from Conda)

Relate issue: https://github.com/google/earthengine-api/issues/181

[2022-04-07 08:09] aribavertex opened #107 "ModuleNotFoundError: No module named 'fcntl'"
Hello,

I'm writing to you in reference to an error displayed to me when typing in the console import ee:

ModuleNotFoundError: No module named 'fcntl'

I've installed the latest version of the plugin (0.0.4) in QGIS 3.16.4 on a Windows 10 machine.

The console returns the following message, do you know what the problem may be and please help me to find a possible solution?

The truth is that it's

[2022-04-07 08:16] gena commented on #107
It looks like you have another Python installed with the default path (PATH, PYTHONPATH) which differs from the QGIS `"C:\Users\Antoni\AppData\Roaming\Python\Python37\...'`, that causes troubles. Try uninstalling that or install it without setting it as a default python.

[2022-04-07 08:40] aribavertex commented on #107
Thank you so much for answer in such a short time!!!
I'll try to do what you recommend me.

[2022-05-02 18:05] Fitzmon opened #108 "Issue: install GEE plugin on QGIS"
Hey guys,

I met some issues when I installed the Google Earth Engine plugin on QGIS. I installed QGIS 3.22.5, miniconda and Jupiter notebook on my desktop. Now I am following the geemap tutorials on Youtube.

Issue 1
Under Python Console, the unauthorized error pops up when I execute import ee. This error disappears when I execute import ee again.

Issue 2
When I install GEE version 0.0.4, the au

[2022-05-02 18:31] gena commented on #108
Could be due to the changes in EE authentication, can you authenticate outside of QGIS?

* pip install earthengine-api
* earthengine authenticate

Follow instructions, then restart QGIS and see if this helps.

[2022-05-02 19:15] Fitzmon commented on #108
I tired and poped up an error

And I use

But the same error still pops up.

[2022-05-02 20:10] gena commented on #108
Try installing gcloud using these instructions: https://cloud.google.com/sdk/docs/install#windows

[2022-05-02 23:21] Fitzmon commented on #108
It works! Thank you so much!

[2022-05-02 23:21] #108 closed

[2022-06-04 04:27] XavierCLL opened #109 "Push new version to support Python 3.10"
Push new minor version specially for this fix 38c25d5d41d6466c65325243974074d1839608b1 to support operation systems and new versions of Qgis with Python >= 3.10. Issue related #105

[2022-06-04 09:29] gena commented on #109
I will probably then drop support for Python 3.7 as well.

And should it be Python 3.10 or 3.9.5? It looks like the long-term release of QGIS 3.22.3-Białowieża is based on Python 3.9.5, it would be nice to have it working as well probably.

[2022-06-04 09:33] gena commented on #28
Added packaging for different OSes via Actions

[2022-06-04 09:33] #28 closed

[2022-06-04 09:34] #102 closed

[2022-06-04 16:43] XavierCLL commented on #109
The solution works with any version of Python, I tested both Qgis versions one with Python 3.9 and the other with Python 3.10, and both work fine.

[2022-06-04 22:24] gena commented on #109
Great!

Ok, I've repackaged and uploaded (as experimental) v0.0.5 with http2 changes and with the latest version of the EE lib.

Now it's time to test if this works in different OSes and QGIS versions. The minimum QGIS requirements are the same (3.8).

[2022-06-05 22:11] gena commented on #109
@XavierCLL @SiggyF, can you check if https://plugins.qgis.org/plugins/ee_plugin/version/0.0.5/ works on Ubuntu and macOS?

Delete the previous version first and delete EE credentials (~/.config/earthengine/...).

[2022-06-06 02:13] XavierCLL commented on #109
I've found and fixed two issues: 2c8d5d8dc78aa69368ef9cfe56d2da61a2f7ddf9 and 0f81f76872549c1cb6e600d4f22c4b732505cfaf

I've tested the package v0.0.5 with the previous patches, it works great on:

ArchLinux:
- [x] Qgis 3.24, python 3.10
- [x] Qgis 3.18, python 3.9

[2022-06-06 13:15] gena commented on #109
Great!

Fixes look fine, I will repackage everything, re-upload v0.0.5, and will test on Windows. If everything works fine - will push this as the last release version, but won't warn people to upgrade v0.0.4 > v0.0.5 as this is a minor release as, everything should work fine for those who are authenticated.

[2022-06-23 18:17] XavierCLL commented on #109
Hi @gena I've realized that the version that you uploaded [0.0.5](https://plugins.qgis.org/plugins/ee_plugin/version/0.0.5/) doesn't have the fixes I made in the previous comment, those are important for the proper functioning of the plugin (mainly for python 3.10), could you please upload a minor release like 0.0.5a with these fixes? thanks!

[2022-06-23 18:21] XavierCLL commented on #109
I saw that the version 0.0.5 is an experimental version, a kind reminder to launch the official version 0.0.5 with these fixes when you can, thanks

[2022-06-23 18:36] gena commented on #109
Correct, I did not push 0.0.5 as an official release, but probably it makes sense.

Though I'm not sure it is necessary to push existing users to upgrade as the 0.0.4 seems to work fine once authentication was done before.

[2022-06-23 19:06] gena commented on #109
Ok, @XavierCLL, I've re-uploaded 0.0.5 without experimental and, hopefully, added all fixes - please check. If everything works fine - I will release and tag 0.0.5 on GitHub

[2022-06-23 19:55] XavierCLL commented on #109
Perfect, thanks

[2022-06-24 09:15] PedroVenancio commented on #109
Hi @gena

I'm getting this error after upgrade from 0.0.4 to 0.0.5

[code]

Any hint? Thanks!

[2022-06-24 09:55] gena commented on #109
Thanks for reporting, @PedroVenancio! Investigating ...

[2022-06-24 15:49] gena commented on #109
@PedroVenancio, can you try uninstalling/reinstalling v0.0.5?

[2022-06-24 15:57] PedroVenancio commented on #109
@gena I did it

![imagem](https://user-images.githubusercontent.com/1331581/175572506-eb401270-490e-4931-9b64-dd850f3091b6.png)

and get back to 0.0.4.

No problem with this version.

[2022-06-24 18:50] XavierCLL commented on #109
Hi @PedroVenancio,

That is weird, that line of the error wasn't changed between the versions 0.0.5 and 0.0.4. I tested the new version in Windows and works fine, please try updating to 0.0.5 and restart Qgis, I guess it is due to a problem with the differences of external libs because @gena has updated the external libs in this latest version and Qgis load it at startup.

[2022-06-24 19:52] gena commented on #109
It looks like the new 0.0.5 is not approved on qgis yet

[2022-06-24 19:58] gena commented on #109
@XavierCLL, it also looks like we did not test 0.0.5 well yet, getting error when .config/earthengine/authentication is removed:

![image](https://user-images.githubusercontent.com/169821/175658930-9af4b4aa-03d0-41b8-9dc4-7939843c7ae1.png)

[2022-06-24 20:12] PedroVenancio commented on #109
Hi @XavierCLL and @gena

I was waiting to the plugin's approval, but I've downloaded it from https://plugins.qgis.org/plugins/ee_plugin/version/0.0.5/ and installed manually and it seems fixed! No error now! Had you changed something @gena ?

Thanks!

[2022-06-24 20:34] giswqs commented on #109
As as as I know, Earth Engine (v0.1.316) does not work with Python. 3.10. You can authenticate it, but it fails `ee.Initialize()`. I am not sure how you made it work with Python 3.10.

@tylere @jdbcode

[code]

[code]

![image](https://user-images.githubusercontent.com/5016453/175662801-d5eec988-ff9d-4527-bf16-a332451c6474.png)

[2022-06-24 20:38] gena commented on #109
I'm testing it locally with QGIS-3.18/Python 3.7.0, and still see the Authentication error from earthengine_api-0.1.316-py3.7.egg-info, investigating further
![image](https://user-images.githubusercontent.com/169821/175663956-a929cf75-0b36-435c-8b66-d487c850b4f3.png)

[2022-06-24 21:14] gena commented on #109
Switched v0.0.5 back to Experimental for now

[2022-06-25 01:24] cczablan1 opened #113 "v 0.0.5 classFactor error"
Hi, i need help with this, I am using the v.0.0.5 (since v0.0.4 struggles produces a Error 400)

[code]

[2022-06-25 04:11] XavierCLL commented on #109
@gena @PedroVenancio yeah confirmed It worked 2 weeks ago, maybe Google change something for the oauth, it requires more investigation.

@giswqs for python 3.10 you can fix that running that code like this:
[code]

[2022-06-25 04:23] giswqs commented on #109
@XavierCLL Thanks for the workaround. It appears that this issue has existed for a few months now. It would be great if this issue can be fixed by Google directly. Not many people know this workaround.

- https://groups.google.com/g/google-earth-engine-developers/c/hnNk9Iybmew/m/u8W8oXflBAAJ
- https://github.com/GoogleCloudPlatform/httplib2shim/pull/16

[2022-06-25 08:37] gena commented on #109
I'm currently trying to find a way to authenticate properly. The best would be to use ee.Authenticate(), but currently, it fails in QGIS because it requires gcloud CLI.

[2022-06-25 08:40] gena commented on #113
Yes, investigating this right now, please uninstall v0.0.5 and re-install from experimental. Then authenticate via Python before starting QGIS. In your main Python (not in QGIS!) run:

[code]

[2022-06-25 08:44] cczablan1 commented on #113
How do I reinstall from experimental?

[2022-06-25 08:47] gena commented on #113
... it looks like it's also not approved, try this one (installing from zip). There are no new features, only more recent earthengine library

[ee_plugin-0.0.5.zip](https://github.com/gee-community/qgis-earthengine-plugin/files/8984228/ee_plugin-0.0.5.zip)

[2022-06-25 08:57] cczablan1 commented on #113
Thank you so much, that worked! <3

[2022-06-27 12:49] LouHeilinger opened #115 "authorization failed"
I am trying to install the GEE plugin in QGIS. However, when I try to open the plugin, i get the  pop-up window: "Authorization - Google Earth Engine Python is not detected on this machine. This plugin uses Google Earth Engine Python API and requieres user to be authorized, please follow the instructions in the open web page and paste the resulting auth token here".

However, the website gives me

[2022-06-28 01:36] XavierCLL commented on #115
Hi, we are working on that #109

Meanwhile, you can use an experimental version packaged by Gena here: https://drive.google.com/file/d/1B0h0qHfLlx5d8e5_2r2K7g8N__YLb47_/view?usp=sharing

[2022-06-28 07:20] LouHeilinger commented on #115
Thank you for sharing this with me, unfortunately I still have the same problem.

[2022-06-28 21:19] gena commented on #115
I've just marked 0.0.5 as not experimental, @LouHeilinger, try to uninstall the current version and then install the 0.0.5 version via the QGIS Plugins dialog. Then make sure you delete the ~/.config/earthengine/credentials file and restart QGIS. After you do import ee in QGIS Python console - it should authenticate properly.

[2022-07-02 10:12] gena commented on #115
@LouHeilinger, did the last version solve your problem?

[2022-07-02 10:12] #113 closed

[2022-07-02 10:13] gena commented on #109
I think this can be considered fixed, the new version is in QGIS plugins repo and approved

[2022-07-02 10:13] #109 closed

[2022-07-02 10:14] gena commented on #107
Let me know if this issue is fixed, especially in v0.0.5

[2022-07-02 10:14] #107 closed

[2022-07-02 19:13] gena commented on #96
Closing for no activity, should be fixed in v0.0.5

[2022-07-02 19:13] #96 closed

[2022-07-19 06:11] JRichetti opened #116 "Authorisation issue?"
Hi QGIS EE team,

When I installed the plugin it did not requested anything. No pop-up asking to link my GEE account.
When trying to check if everything is working I'm getting the following error:

[code]
Then when running 'ee.Initialize()' another error comes up:

[code]
Please help. :)

[2022-07-19 07:58] gena commented on #116
I assume it's with v0.0.5?

What version of QGIS and OS?

Try to install the latest version of earthengine-api in your Python environment (not in QGIS!) and run:
[code]

[2022-07-19 08:26] JRichetti commented on #116
Ah! Good old internet person forgetting to provide full information on errors and expecting adequate responses!
Nonetheless, thanks Gena, I was missing installing the earthengine-api in the Python bits. Now I'm getting a nice and clean Hello World!

`import ee
print(ee.String('Hello World from EE!').getInfo())
Hello World from EE!`

[2022-07-19 08:26] #116 closed

[2022-07-26 18:40] gena opened #117 "Querying pixel values returns nothing when current map projection is not EPSG:3857"
### Discussed in https://github.com/gee-community/qgis-earthengine-plugin/discussions/99

<div type='discussions-op-text'>

<sup>Originally posted by **krhodes9** July  2, 2021</sup>
Do you have any suggestions for viewing/extracting the feature values from the the images brought into QGIS using the plug-in? I am working over a large study area and all the pixels only display a value of no-data. <

[2022-07-26 18:41] gena commented on #115
closing for no activity, should be fixed in 0.0.5

[2022-07-26 18:41] #115 closed

[2022-08-01 19:41] roya0045 commented on #26
Is the plan to use the export method in GEE itself (saving to a google product) or to find a way to extract the data from the XYZ layer directly to a local storage?

[2022-08-16 09:33] NafeesK commented on #61
@Chaz6  you need to install EarthEngine Python API first.

[2022-08-28 16:57] edgar89 opened #118 "Authorization error and http ERR_EMPTY_RESPONSE"
Hello, I'm using QGIS 3.22.10 and I recently updated to v.0.0.5 of the qgis-earthengine-plugin in order to get rid of  #115

However, every time I open one of my file which references google earth maps I got the following message:

![image](https://user-images.githubusercontent.com/761882/187085172-18c333f8-e0e2-46b7-bd35-a6fa1f84cb39.png)

I click on "ok", the browser opens and I follow the googl

[2022-08-31 07:44] LutfyMira opened #119 "Uncaught ImportError: cannot import name 'QgsFeaturePickerWidget' from 'qgis._gui' (C:/PROGRA~1/QGIS3~1.8/apps/qgis/./python\qgis\_gui.pyd)"
Couldn't load plugin 'geetimeseriesexplorer'
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
ee_plugin 0.0.5, QGIS 3.8.0-Zanzibar on Windows 10

[2022-08-31 23:51] XavierCLL commented on #119
Hi @LutfyMira

The error is directly from the geetimeseriesexplorer, it uses this plugin but the error is due to a lib that geetimeseriesexplorer is trying to import: `QgsFeaturePickerWidget` this class is only available for Qgis >= 3.14: https://qgis.org/pyqgis/3.16/gui/QgsFeaturePickerWidget.html#module-QgsFeaturePickerWidget

I recommend you update Qgis to the latest or stable version

[2022-08-31 23:51] #119 closed

[2022-11-22 16:08] rtaani opened #122 "Authentication Problems. Help needed"
Hello!
I'm using QGIS 3.22.0 (Bialowieza).
I'm trying to work with the GHSL-S2 plugin. As far as my research goes, it is important to install the plugin Google Earth Engine. I have an active account with google Earth Engine and I'm following the instruction to import it into QGIS with (https://ghsl.jrc.ec.europa.eu/documents/GHSL_S2_plugin_User_Guide.pdf?rnd=0.6892737559974194). However, when I tr

[2022-11-26 01:39] XavierCLL commented on #122
Hi @rtaani

Are you behind a proxy? have you tried using the command line client? check the faq for the instructions: https://github.com/gee-community/qgis-earthengine-plugin#faq

Xavier